@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap";

* {
  margin: 0px;
  padding: 0px;
  font-family: "poppins", sans-serif;
}

*:hover {
  cursor: default;
}

.headerPC {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 50;
  top: 0;
  position: fixed;
  align-items: center;
  --tw-bg-opacity: 1;
  background-color: rgb(30 58 138/var(--tw-bg-opacity));
  color: white;
}

.imageUser {
  width: 30px;
  margin-right: 5px;
  border-radius: 99px;
}

.headerPC h1 {
  font-size: 1.25rem;
}

.DivHeaderPc {
  display: flex;
  align-items: center;
}

.headerChangeColor:hover {
  cursor: pointer;
  transform: scale(1.02);
  --tw-bg-opacity: 1;
  background-color: rgb(23 37 84 / var(--tw-bg-opacity));
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#headerPcDiv {
  padding-bottom: 54px;
}

#headerMobileDiv {
  padding-bottom: 66px;
}

#headerMobileDiv {
  display: none;
}

.headerMobile h2,
.headerMobile a {
  text-align: center;
  color: white;
  text-decoration: none;
}

.headerMobile {
  color: white;
  display: none;
  top: 0;
  position: fixed;
  z-index: 50;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(30 58 138/var(--tw-bg-opacity));
}

.headerMobile div i:hover {
  cursor: pointer;
}

#MenuBurguerHederMobile {
  display: none;
  text-align: center;
}

.RedirectToIndex a,
.headerPC div a {
  text-decoration: none;
  color: white;
}

.headerChangeColor {
  transition-duration: 1s;
}

.LoginDiv {
  display: flex;
  align-items: center;
}

.imageUser {
  display: none;
}

.hoverPointer *:hover {
  cursor: pointer;
}

.iconChangeMode {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.IconsHeader {
  display: flex;
  align-items: center;
}

.LangS {
  display: flex;
  align-items: center;
}

#LangP {
  text-align: center;
}

.SelectLang {
  transition-duration: 1s;
  opacity: 0%;
  z-index: 50;
  position: fixed;
  pointer-events: none;
}

.LangS *:hover {
  cursor: default;
}

.SelectLang li {
  border-style: solid;
  width: 106px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 12px;
  list-style: none;
}

.cursorPointerAll *:hover {
  cursor: pointer;
}

.SelectLang *:hover {
  cursor: pointer;
  --tw-bg-opacity: 1;
  color: rgb(30 58 138/var(--tw-bg-opacity));
}

.backgroundcColorReSite {
  color: white;
  --tw-bg-opacity: 1;
  background-color: rgb(30 58 138 / var(--tw-bg-opacity));
}

#LangP:hover .SelectLang {
  pointer-events: all;
  opacity: 100%;
}

footer {
  --tw-bg-opacity: 1;
  background-color: rgb(30 58 138/var(--tw-bg-opacity));
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: white;
}

footer .navigation-footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: left;
  flex-wrap: wrap;
  gap: 5px;
}

footer .Socials {
  display: flex;
  justify-content: center;
  gap: 1em;
}

footer img {
  transition-duration: 1s;
  height: 4em;
}

footer img:hover {
  cursor: pointer;
  height: 5em;
}

.Reserved {
  text-align: center;
  padding: 30px;
}

footer a {
  color: white;
  text-decoration: none;
}

.PFooter:hover {
  cursor: pointer;
}

.ButtonTerms:hover,
.ButtonAddBot:hover,
.ButtonInformation:hover {
  cursor: pointer;
}

.ButtonAddBot {
  width: 176px;
  border-style: none;
  padding: 13px;
  border-radius: 5px;
  background-color: rgb(74 222 128);
  color: aliceblue;
}

.ButtonInformation {
  width: 176px;
  border-style: none;
  padding: 13px;
  border-radius: 5px;
  background-color: rgb(239 68 68);
  color: aliceblue;
}

.ButtonTerms {
  width: 176px;
  border-style: none;
  padding: 13px;
  border-radius: 5px;
  background-color: rgb(78, 78, 78);
  color: aliceblue;
}

.ButtonDashBoard {
  width: 176px;
  border-style: none;
  padding: 13px;
  border-radius: 5px;
  background-color: rgb(0, 162, 255);
  color: aliceblue;
}

.DivButtons div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.DivSuport button {
  align-items: center;
  padding: 12px;
  display: flex;
  justify-content: center;
  margin-left: 20px;
  border-radius: 10px;
  border: none;
  width: 150px;
  --tw-bg-opacity: 1;
  background-color: rgb(147 197 253/var(--tw-bg-opacity));
}

.DivButtonSuportError button {
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  border: none;
  width: 150px;
  --tw-bg-opacity: 1;
  background-color: rgb(147 197 253/var(--tw-bg-opacity));
}

.DivButtonSuportError button div {
  display: flex;
  align-items: center;
}

.DivSuport button:hover,
.DivSuport button *:hover {
  cursor: pointer;
}

.checkWebhookSender {
  border-radius: 999px;
  z-index: 50;
  position: relative;
}

.SelectTypeSender {
  display: flex;
  padding: 25px;
  align-items: normal;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 20px;
}

#divCategories {
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
}

.noresize {
  resize: none;
}


.selectChannelCategoria {
  width: 202px;
}


.SelectColorPerson {
  border: solid;
  border-color: rgba(0, 0, 0, 0.747);
  border-radius: 20px;
  height: 60px;
  width: 100px;
  background-color: none;
}

.hoverColor {
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 5px;
}

.hoverColor:hover {
  cursor: pointer;
}

.styleButton {
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  --tw-bg-opacity: 1;
  background-color: rgb(30 58 138/var(--tw-bg-opacity));
}

::backdrop {
  background-color: #212121be;
  opacity: 0.75;
}

.MODALSTILE {
  display: none;
}

.textNameWebhook {
  margin-left: 5px;
}

.infosWebHook {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.26);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.noDrop {
  cursor: no-drop;
}

.noDropAll * {
  cursor: no-drop;
}

.perfilAlign {
  display: flex;
  gap: 5px;
}

.imageHW {
  height: 50px;
  width: 50px;
  border-radius: 999px;
}

.SelectTypeSender div {
  display: flex;
  align-items: center;
}

#webhookMessage,
#divInfosWeb {
  display: none;
}

.SenderName {
  margin-left: 5px;
}

.toogleOff {
  text-align: center;
  width: 50px;
  height: 25px;
  background-color: grey;
  border-radius: 99px;
}

.transitionToogle {
  transition-duration: .5s;
}

#checkBox {
  display: none;
}

.bollToogleOff {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  margin: 5px;
}

.bollToogleOn {
  transform: translateX(100%);
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  margin: 5px
}

.toogleOn {
  display: flex;
  width: 50px;
  height: 25px;
  background-color: grey;
  border-radius: 99px;
  --tw-bg-opacity: 1;
  background-color: rgb(30 58 138/var(--tw-bg-opacity));
}

.FirstDivIndex {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
  height: 94vh;
}

.SecondDivIndex {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.ThreeDivIndex {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.FourDivIndex {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.mt-5 {
  padding: 5px;
}

.imagesIndex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

#RELChibi {
  width: 320px;
}

.DivExplainTerms {
  text-align: center;
  margin-top: 40px;
}

.DivSuport {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.ResumeTerms {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.Top {
  margin: 10px;
}

.SelectTipeCommand {
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.07);
}

.SelectTipeCommand:hover {
  cursor: pointer;
}

.alignItens {
  display: grid;
  grid-template-columns: 30% 70%;
}

.AsideSelectCommands {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  overflow: auto;
  transition-duration: 0.5s;
  z-index: 1;
  position: sticky;
  scrollbar-width: thin;
  scrollbar-color: initial;
  top: 52px;
  left: 0;
  bottom: 0;
  height: calc(100vh - 52px);
}

.conjuntCommand {
  margin: 15px;
}

.contentCommand {
  transition-duration: 1s;
}

.contentCommand:hover,
.contentCommand:hover * {
  cursor: pointer;
}

.InformarionsCommand {
  display: none;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.05);
}

.InformarionsCommand div {
  padding: 15px;
  box-sizing: border-box;
}


.BodyInformationCommand {
  display: flex;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.DivCategoryCommand {
  position: relative;
  z-index: 2;
  right: 0;
}

.contentCommand {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  box-sizing: border-box;
}

.NameAndDescriptionCommand {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.NameAndDescriptionCommand div h3,
.NameAndDescriptionCommand div p {
  max-width: 90vh;
  word-wrap: break-word;
}

.CategoryCommandEventos {
  color: white;
  background-color: #10950b;
  border-bottom-left-radius: 99px;
  border-top-right-radius: 10px;
  padding: 4px 16px;
  font-weight: bold;
}

.CategoryCommandGerais {
  color: white;
  background-color: rgb(59, 59, 255);
  border-bottom-left-radius: 99px;
  border-top-right-radius: 10px;
  padding: 4px 16px;
  font-weight: bold;
}

.CategoryCommandModeration {
  color: white;
  background-color: rgb(255, 59, 59);
  border-bottom-left-radius: 99px;
  border-top-right-radius: 10px;
  padding: 4px 16px;
  font-weight: bold;
}

.CategoryCommandRegistro {
  color: white;
  background-color: rgb(122, 52, 253);
  border-bottom-left-radius: 99px;
  border-top-right-radius: 10px;
  padding: 4px 16px;
  font-weight: bold;
}

.CategoryCommandTicket {
  color: white;
  background-color: rgb(52, 189, 253);
  border-bottom-left-radius: 99px;
  border-top-right-radius: 10px;
  padding: 4px 16px;
  font-weight: bold;
}

.CategoryCommandRoleplay {
  color: white;
  background-color: rgb(253, 52, 219);
  border-bottom-left-radius: 99px;
  border-top-right-radius: 10px;
  padding: 4px 16px;
  font-weight: bold;
}

.sobDiv {
  z-index: 1;
  position: absolute;
  right: 0;
}

.backGroundBlue {
  --tw-bg-opacity: 1;
  background-color: rgb(30 58 138/var(--tw-bg-opacity));
}

a:hover,
button:hover,
.LoginDiv *:hover {
  cursor: pointer;
}

body {
  background-color: #212121;
  color: white;
}

.padding3 {
  padding: .75rem;
}

.underline {
  text-decoration-line: underline;
}

.mt-5 {
  margin-top: 40px;
}

.text-blue-700 {
  --tw-text-opacity: 1;
  color: rgb(29 78 216/var(--tw-text-opacity));
}

.ImageError {
  border-radius: 99999px;
  max-width: 50vh;
  max-width: 50vh;
}

.divError {
  height: 90vh;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: wrap;
}

.DivButtonSuportError button *:hover {
  cursor: pointer;
}

.menudash:hover {
  cursor: pointer;
}

#MenuBurguerDash ul a li:hover {
  cursor: pointer;
}

.BGTOPMENUDASHGUILD {
  --tw-bg-opacity: 1;
  background-color: rgb(30 64 175 / var(--tw-bg-opacity));
  color: white;
}

.IMGGUILDTOPMENU {
  text-align: center;
}

.INFOSGUILDTOPMENU {
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#MenuBurguerDash {
  text-align: center;
  list-style: none;
  display: none;
}

#MenuBurguerDash ul a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.divGuilds {
  margin-top: 15px;
  transition-duration: 1s;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
}

.divGuilds div {
  display: flex;
  align-items: center;
}

.imgGuild {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.nameGuild {
  max-width: 25ch;
  overflow: hidden;
  text-overflow: hidden;
  word-wrap: break-word;
}

.corembedselect {
  height: 34px;
  width: 100%;
}

.pGuilds {
  font-size: 15px;
  text-align: left;
  padding-left: 10px;
}

#guildsDIV {
  margin-top: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  margin: 10px;
}

.divGuilds:hover {
  cursor: default;
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.buttonConfig {
  color: white;
  border-style: none;
  border-radius: 3px;
  --tw-bg-opacity: 1;
  background-color: rgb(30 58 138 / var(--tw-bg-opacity));
  padding: 13px;
}

.buttonConfig:hover {
  cursor: pointer;
}

.contructEmbed {
  display: flex;
}

.embedColor {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 5px;
}

.bodyEmbed {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
}

.topEmbed {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.authorEmbed {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.imageAuthor {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 999px;
}

.nameAuthor a {
  inline-size: 340px;
  word-wrap: break-word;
  word-break: break-all;
  margin-left: 5px;
  color: currentColor;
}

.titleEmbed,
.descriptionEmbed {
  display: none;
  margin-top: 5px;
  inline-size: 340px;
  word-wrap: break-word;
  word-break: break-all;
}

.thumbnailEmbed {
  display: none;
  border-radius: 5px;
  width: 80px;
  height: 80px;
}

.divImageEmbed {
  margin-left: 24px;
}

.imageEmbed {
  max-width: 100%;
  max-height: 250px;
  border-radius: 5px;
}

.footerEmbed {
  display: flex;
  align-items: center;
  margin: 10px;
}

.imgFooter {
  width: 20px;
  height: 20px;
  border-radius: 999px;
  display: none;
}

.text-white {
  color: currentColor;
}

.textFooter {
  font-size: small;
  margin-left: 3px;
}

.separetor {
  font-size: small;
  display: none;
  margin-left: 5px;
}

.bodySendTicket {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.bodySendTicket #embed {
  display: flex;
  justify-content: center;
}

.LineFormEmbed {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.transitionShowCommands {
  transition-duration: .3s;
}

.expand {
  writing-mode: vertical;
}

.expand_more {
  transform: rotate(-180deg);
}

#selectMenu {
  position: relative;
}

.selectMenuDc {
  border-style: solid;
  width: 400px;
  color: rgba(255, 255, 255, 0.486);
  background-color: rgba(29, 29, 29, 0.774);
  border-radius: 5px;
  height: 20px;
  border-color: rgba(27, 27, 27, .2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  margin-top: 10px;
}

.selectMenuOptionsDc {
  display: none;
  position: absolute;
  background-color: rgb(36, 36, 36);
  border-color: rgba(0, 0, 0, 0.342);
  border-style: solid;
  min-width: 98.9%;
  border-radius: 5px;
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.selectMenuOptionDc .selectMenuOptionTitle,
.selectMenuOptionDc .selectMenuOptionDescription {
  margin-left: 5px;
  padding: 2px;
}

.selectMenuDc:hover *,
.selectMenuDc:hover {
  cursor: pointer;
}

.selectMenuOptionDc {
  padding: 5px;
}

.selectMenuOptionDc:hover {
  background-color: rgba(55, 55, 55, 0.774);
}

.BorderConfigDashBot {
  margin: 0;
  padding: 0;
  font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
  border-radius: .375rem;
  border-style: solid;
  border-color: rgb(209 213 219/var(--tw-border-opacity));
  --tw-border-opacity: 0.8;
}

.selectlangbot {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.selectlangbot select {
  border-radius: 5px;
  width: 50%;
  height: 30px;
}

.selectlangbot select:hover {
  cursor: pointer;
}

.selectChannelsUseCommandDiv div div select {
  border-radius: 5px;
  width: 100%;
  height: 30px;
}

.selectChannelsUseCommandDiv #div2 {
  width: 50%;
}

.selectChannelsUseCommandDiv #div2 #div3 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.selectChannelsUseCommandDiv {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#defineMessageSend {
  padding: 5px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.Disabled {
  opacity: 0.25;
  pointer-events: none;
  transition: 0.3s;
}

.descriptionOptions {
  max-width: 55ch;
  word-break: break-all;
  word-wrap: break-word;
  color: currentColor;
  opacity: 60%;
}

.buttonSave {
  color: white;
  border-style: none;
  border-radius: 3px;
  --tw-bg-opacity: 1;
  background-color: rgb(30 58 138 / var(--tw-bg-opacity));
  padding: 10px;
}

#channelsAddUseCommand {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.images {
  width: 30%;
  height: 50%;
}

.ProductPremium {
  text-align: center;
  border: solid 1px;
  border-radius: 5px;
  color: white;
  background-image: linear-gradient(to right, rgb(0, 162, 255) , blue);
  padding: 10px;
}

.DivProductsStore {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.DivProductsStore div {
  max-width: 300px;
}


@media only screen and (max-width: 600px) {

  .AsideSelectCommands {
    overflow: auto;
    transition-duration: 0.5s;
    position: inherit;
    scrollbar-width: thin;
    scrollbar-color: initial;
    height: calc(100vh - 52px);
  }

  .alignItens {
    display: block;
  }

}

@media only screen and (max-width: 700px) {

  .pGuilds {
    max-width: 40%;
  }

  #headerPcDiv,
  .headerPC {
    display: none;
  }

  #headerMobileDiv,
  .headerMobile {
    display: block;
  }

  .SelectLang li {
    border-style: solid;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 12px;
    list-style: none;
  }

}

@media only screen and (max-width: 1000px) {

  .bodyEmbed,
  .selectMenuDc,
  .selectMenuOptionsDc {
    width: 80%;
  }

  #selectMenuOptionsDc {
    min-width: 86%;
  }

  #Selects {
    display: block;
    text-align: center;
  }

}

@media only screen and (max-width: 800px) {

  #imgCIRE {
    display: none;
  }

  .selectlangbot,
  .selectChannelsUseCommandDiv {
    justify-content: center;
  }

  .FirstDivIndex {
    justify-content: center;
  }

}

@media only screen and (max-width: 1045px) {

  #guildsDIV {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }

  .divGuilds {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

}